html, body
{
    background-color: black;
}

.skill-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.count {
  font-size: 20px;
}

.points-spent {
  font-size: 20px;
  color: #4682B4;
}

.body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.non-bar{
  justify-content: center;
  border: 10px solid black;
}

.bar {
  margin-left: 1px;
  margin-right: 1px;
  border-top: 30px solid 	black; 
  border-bottom: 30px solid 	black;
  background-color:	 #181818;
  width:100px;
  height:15px; 
}

.img {
  align-items: center;
  border-width: 4px;
  border-color: grey;
  height:60px;
}

.talent-path-container {
  display: inline-block;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.rune-mastery-loadout-talent-calculator {
  color: white;
  display: flex;
  flex-direction: column;
}

.rune-mastery-loadout-talent-calculator-header {
  display: flex;
  background-color: #181818;
  height:40px; 
  width:900px;
  margin: 20px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-wrap: nowrap;
}

.skill-list-input-container {
  display: flex;
  flex-direction: column;
}

.active {
  background: 	#404040;
  opacity: 0.5;
} 

.active-border {
  background: linear-gradient(white, white) padding-box,
              linear-gradient(#4682B4, black, #4682B4) border-box;
  border: 4px solid transparent;
}

.inactive {
  color: white;
  background: #181818;
  opacity: 0.7;
}

.inactive-border {
  background: 	#404040;
  border: 4px solid transparent;
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .skill-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .skill-list-input-container {
    flex-direction: column;
    justify-content: center;
  }

  .skill-container {
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .bar {
    margin-top: 1px;
    margin-bottom: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 30px;
    border-left: 30px;
    border-color: black;
    border-style: solid;
    background-color:	 rgb(72, 72, 72);;
    width: 10px;
    height: 100px; 
  }

  .body-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img {
    margin-top: 1px;
    margin-bottom: 1px;
    border-width: 4px;
    border-color: grey;
    border-style: solid;
  }

  .active-border {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(#4682B4, black, #4682B4) border-box;
    border: 4px solid transparent;
  }

  .inactive-border {
    background: 	#404040;
    border: 4px solid transparent;
    opacity: 0.7;
  }
  
  .inactive {
    color: white;
    opacity: .5; 
    color: white;
    background: #181818;
    opacity: 0.7;
  }

  .talent-path-container {
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
  }

  .rune-mastery-loadout-talent-calculator-header {
    display: flex;
    background-color: #181818;
    height: 100px; 
    padding-left: 70px;
    width: 270px;
    margin: auto;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
  
}
